* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
  background: #faf7f2;
  color: #3b2f2f;
  padding-bottom: 24px;
}

/* Header */
.header {
  text-align: center;
}

.logo {
  width: 100%;
  margin-bottom: 8px;
}

/* Menu */
.menu {
  padding: 0 16px;
}

.category {
  background: white;
  border-radius: 16px;
  margin-bottom: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  margin: 0 16px 16px 16px;
}

.category-title {
  font-size: 18px;
  font-weight: bold;
  padding: 12px 16px;
  text-align: center;
  margin-bottom: 8px;
  color: white;
  background-color: darkorchid;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.note {
  font-size: 13px;
  color: #999;
  margin-bottom: 8px;
}

.items {
  list-style: none;
}

.item {
  padding: 10px 16px;
  border-bottom: 1px dashed #eee;
  font-size: 15px;
  font-weight: bold;
}

.item-name-en {
  font-weight: normal;
}

.item:last-child {
  border-bottom: none;
}

/* Footer */
.footer {
  text-align: center;
  font-size: 13px;
  color: #777;
  margin-top: 24px;
}
