body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

.banner {
  width: 100%;
}

.menu-wrapper {
  text-align: center;
  position: relative;
}

.menu {
  width: 50%;
  margin-top: -40px;
}

.main-content {
  background-image: url('./assets/images/background-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -10px;
  min-height: 80vh;
}

.menu-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: antiquewhite;
}

#category-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: -32px;
  /* padding-top: 100px; */
}

/* Category cards */
.category-card {
  width: 180px;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.note {
  color: #777;
  margin-top: 4px;
}

.category-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100px;
}

.category-card:hover {
  transform: scale(1.02);
}

.category-card h2 {
  font-size: 18px;
  color: #5b3a29;
  margin-top: 0;
}

.en-name {
  font-weight: normal;
}

/* Product view */
.category-title {
  text-align: center;
  margin-bottom: 12px;
}

.items {
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.product-card {
  width: 100%;
  text-align: center;
}

.product-image {
  width: 100px;
  height: 120px;
  object-fit: cover;
}

.product-name {
  text-align: center;
  font-weight: bold;
  color: #5b3a29;
  margin-top: 0;
}

.product-en-name {
  font-weight: normal;
}

.back-btn {
  display: none;
  margin-bottom: 10px;
  margin-top: 20px;
  left: 16px;
  border: none;
  color: blue;
  position: absolute;
  background: none;
  font-size: 16px;
  text-decoration: underline;
}

.container-product {
  margin-top: -60px;
}

#footer {
  text-align: center;
  font-size: 14px;
  color: white;
  margin-top: 30px;
  padding: 16px 0;
}

/* Shared */
.hidden {
  display: none !important;
}