body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

.banner {
  width: 100%;
}

.main-content {
  background-image: url('./assets/images/background-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -10px;
  height: 80vh;
}

.menu-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: antiquewhite;
}

#category-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  padding-top: 100px;
}

/* Category cards */
.category-card {
  width: 180px;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.note {
  color: #777;
  margin-top: 4px;
}

.category-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100px;
}

.category-card:hover {
  transform: scale(1.02);
}

.category-card h2 {
  font-size: 18px;
  color: #5b3a29;
  margin-top: 0;
}

/* Product view */
.category-title {
  text-align: center;
  margin-bottom: 12px;
}

.back-btn {
  background: none;
  border: none;
  font-size: 16px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #5b3a29;
}

#footer {
  text-align: left;
  padding: 16px 32px;
  font-size: 14px;
  color: #888;;
}

/* Shared */
.hidden {
  display: none;
}